.myBorder{
    border: 1px solid black;
}

.myHeight{
    min-height: 100vh;
}

.myAlignmentTop35{
    padding-top: 35vh;
    
}

.myAlignmentTop40{
    padding-top: 40vh;
    
}

.myInput{
    padding: 5px;

}
.myFont{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 3em;
}

