<cdk-virtual-scroll-viewport itemSize="" style="height: 95%; width: 100;">
    <div class="row border" style="padding: 2px; width:100%;" *cdkVirtualFor="let order of orders">
        <div class="col-8">
            {{order.ClientName}}
            <br>{{order.PetName}}
            <br>{{order.PetSpecie}} - {{order.PetBreed}} - {{order.PetAge}} Anos
            <br>{{order.Service}} 
        </div>
        <div class="col">
            <div class="row justify-content-center" style="height: 50%; text-align: center;">
            <br>{{order.Date}}
            <br>{{order.Time}}
            </div>
            <div class="row align-items-end justify-content-around" style="height: 50%;">
            <button type="button" (click)="acceptOrder(order.Id)" class="btn btn btn-success">Aceitar</button>
            <button type="button" (click)="refuseOrder(order.Id)" class="btn btn-danger">Rejeitar</button>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>