<div class="row border" style="padding: 5px;">
    <div class="col-8">
        Nome do Cliente
        <br>Nome do Pet
        <br>Cachorro - Labrador -10 Anos
        <br>Banho e Tosa 
    </div>
    <div class="col">
        <div class="row justify-content-center" style="height: 50%; text-align: center;">
        <br>Sexta, 28/08
        <br>10:00h
        </div>
        <div class="row align-items-end justify-content-around" style="height: 50%;">
        <button type="button" class="btn btn btn-success">Aceitar</button>
        <button type="button" class="btn btn-danger">Rejeitar</button>
        </div>
    </div>
</div>
