<div class="container-fluid body">
    <div class="row offset-4">
        <div class="col-6 myHeight">
            <div class="myAlignmentTop35">
                <div class="form">
                    <h1></h1>
                    <div class="row pb-1 justify-content-center">
                        <input #username class="myInput border border-primary rounded form-input" type="text" placeholder="Username">
                    </div>
                    <div class="row pb-1 justify-content-center">
                        <input #name class="myInput border border-primary rounded form-input" type="text" placeholder="Nome">
                    </div>
                    <div class="row pb-1 justify-content-center">
                        <input #email class="myInput border border-primary rounded form-input" type="email" placeholder="Email">
                    </div>
                    <div class="row pb-1 justify-content-center">
                        <input #cnpj class="myInput border border-primary rounded form-input" type="text" placeholder="CNPJ">
                    </div>
                    <div class="row pb-1 justify-content-center">
                        <input #password class="myInput border border-primary rounded form-input" type="password" placeholder="Senha">
                    </div>
                    <div class="row pb-1 justify-content-center">
                        <input #address class="myInput border border-primary rounded form-input" type="text" placeholder="Endereço" >
                    </div>
                    <div class="row pb-1 justify-content-center">
                        <input #phone_number class="myInput border border-primary rounded form-input" type="tel" placeholder="Telefone">
                    </div>
                    <div class="row pt-3 justify-content-center">
                        <button class="btn btn-outline-primary mr-3 button"
                        
                        (click)="onClickMeLogin()">Login</button>

                        <button class="btn btn-outline-primary button" 
                        
                        (click)="onClickMe(username.value, name.value, email.value, cnpj.value, password.value, address.value, phone_number.value)">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>