<nav class="navbar-expand navbar-dark bg-primary mb-2">
    <ul class="navbar-nav nav-pills p-2">
        <li class="nav-item mr-2">
            <a class="nav-link active" routerLink="/home" routerLinkActive="router-link-active" >Inicio</a>
        </li>
        <li class="nav-item mr-2">
            <a class="nav-link active" routerLink="/services" routerLinkActive="router-link-active" >Serviços</a>
        </li>
        <li class="nav-item mr-2">
            <a class="nav-link active" routerLink="/profile" routerLinkActive="router-link-active" >Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" (click)="onClickLeave()" routerLink="/login" routerLinkActive="router-link-active">Sair</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<nav class="navbar fixed-bottom navbar-dark mt-2" style="background-color:dodgerblue;">
    <a class="navbar-brand">PetLife</a>
</nav>