<div class="container-fluid">
    <div class="row myHeight">
        
        <div class="col">

            <div class="row" style="height: 35%; width:50%;">
                
                <div class="col-4" style="text-align: center;">
                    <img src="https://image.freepik.com/vetores-gratis/perfil-de-avatar-de-homem-no-icone-redondo_24640-14044.jpg" class="rounded-circle img-fluid"/> 
                    <br/>
                    Olá, {{loggedUser}}!
                </div>   

                <div class="col">
                    <button class="btn btn-outline-primary mb-1 mt-3" style="width: 40%;" (click)="onClickService()">Serviços</button>
                    <br/><button class="btn btn-outline-primary mb-1" style="width: 40%;" (click)="onClickProfile()">Perfil</button>
                    <br/><button class="btn btn-outline-primary" style="width: 40%;" (click)="onClickLeave()">Sair</button>
                </div>

            </div>

            <div class="row" style="height:65%;">
                <div class="container-fluid">
                        <app-orders-requests></app-orders-requests>
                </div>

            </div>
        </div>

        <div class="col-7" style="margin: 10px;">
            <full-calendar deepChangeDetection="true"
                        [options]="calendarOptions"></full-calendar>
        </div>

    </div>    
</div>
