<div class="container-fluid" style="width: 35%; margin-top: 10vh; margin-bottom: 10vh;">
    <table class="table">
        <tbody>
          <tr>
            <th scope="row">Nome</th>
            <td>{{ProfData.name}}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{ProfData.email}}</td>
          </tr>
          <tr>
            <th scope="row">CNPJ</th>
            <td>{{ProfData.cnpj}}</td>
          </tr>
          <tr>
            <th scope="row">Endereço</th>
            <td>{{ProfData.address}}</td>
          </tr>
          <tr>
            <th scope="row">Telefone</th>
            <td>{{ProfData.phone_number}}</td>
          </tr>
        </tbody>
      </table>
</div>