@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap%27');

.form {
    padding: 0 0 0 0;
    width: 50%;
}

h1 {
    font-size: 2,8em;
    margin: 35px 0;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black, -5px -5px 10px black;
    color: white;
}

.form-input {
    padding: 5px 5px;
}

.form-label {
    font-size: 20px;
}

input:hover {
    width: 60%;
}

.button {
    color: white;
    border-radius: 1px;
    font-size: 1.2em;
    border: 0;
}

::placeholder {
    color: white;
}
